<div class="alert">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	<strong>Warning!</strong> The JSON-generator is work-in-progress - use at own risk
</div>

<div>
	<h4>howto use the generator</h4>
	<p class="muted">To open the configurator just klick on a dataset you want to use and fill out the configuration form.<br />
		As soon as you're done klick the generate button at the end of the formular.</p>
</div>

<form class="form-inline">
	<div class="input-prepend">
		<span class="add-on">Search</span>
		<input id="dataset-filter" type="text" ng-model="query" class="input-xxlarge">
	</div>
</form>

<table class="table table-condensed table-hover table-striped table-pointer">
	<thead>
		<tr>
			<th>Name</th>
			<th>Version</th>
			<th>OS</th>
			<th>Published</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="ds in datasets | searchDatasets:query | orderBy:'published_at':true" ng-click="editManifest(ds.uuid)">
			<td>{{ds.name}}</td>
			<td>{{ds.version}}</td>
			<td>{{ds.os}}</td>
			<td date-from-now="ds.published_at">{{ds.published_at}}</td>
			<td ng-switch on="ds.getCreator()">
				<span ng-switch-when="community" class="label label-info">community</span>
			</td>
		</tr>
	</tbody>
</table>
